{% extends 'base_blog.html' %}

{% block title %}
    Blog Register
{% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/register.css">
{% endblock %}

{% block content %}
    <div class="register">
        <h1>Register</h1>
        <p class="tip">
            {% for item in get_flashed_messages() %}
            {{ item }}
            {% endfor %}
        </p>
        <form class="layui-form" action="registerblog" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">Name</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" required  lay-verify="required" placeholder="Please enter your name" class="layui-input">
                    </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Username</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required  lay-verify="required" placeholder="Please enter username" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">Email</label>
                <div class="layui-input-block">
                    <input type="text" name="email" required  lay-verify="required" placeholder="Please enter email" class="layui-input">
                </div>
            </div>

          <div class="wrap-input">
             <div class="input-group">
                 <input class="input_field" type="text" name="certificationCode" placeholder="Enter certification Code" required>
                     <div class="input-group-append">
                         <button class="btn btn-outline-secondary" type="button" id="code_btn">Get Certification Code</button>
                     </div>
             </div>
              <span class="symbol-input_field">
                  <i class="feather ft-mail"></i>
              </span>
          </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Password</label>
                <div class="layui-input-block">
                    <input type="password" name="password" required lay-verify="required" placeholder="Please enter password" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">Confirm Password</label>
                <div class="layui-input-block">
                    <input type="password" name="confirmpassword" required lay-verify="required" placeholder="Please re-enter password to confirm" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">Submit</button>
                    <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        layui.use('form', function(){
            var form = layui.form;
            form.on('submit(formDemo)', function(data){
            });
        });
    </script>
{% endblock %}

{% block register_class %}
    layui-this
{% endblock %}
