<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Conan,index,hero">
    <meta name="description" content="Most of the main content and introductions about Conan in it.">
    <title>Search</title>
    <!-- Favicons -->
    <link href="../../static/img/favicon2.jpg" rel="icon" alt="title">
    <link href="../../static/img/favicon2.jpg" rel="apple-touch-icon" alt="title">

    <!-- 谷歌字体导入 -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="../../static/codebase/aos/aos.css" rel="stylesheet">
    <link href="../../static/codebase/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"rel="stylesheet" >
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap-grid.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">-->

    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="../../static/codebase/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../static/codebase/remixicon/remixicon.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="../../static/codebase/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../static/codebase/boxicons/css/boxicons.min.css" rel="stylesheet">

    <link href="../../static/css/style_1.css" rel="stylesheet">

{#    <base target="_blank" />#}
</head>
<body>
        <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-lg-between block" data-move-y="200px" data-move-x="-200px">
          <a href="https://www.todolist.cn" class="logo me-auto me-lg-0"><img src="../../static/img/index.jpg" alt="todo" class="logo_1 img-fluid"></a>
          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Index</a></li>
              <li><a class="nav-link scrollto" href="#about">Abstract</a></li>
              <li><a class="nav-link scrollto" href="#features">Function</a></li>
{#              <li><a class="nav-link scrollto " href="#portfolio"></a></li>#}
{#              <li><a class="nav-link scrollto" href="#team">主角</a></li>#}
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>

          <a href="#about" class="get-started-btn scrollto">Drop down</a>

        </div>
      </header>
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container block" data-aos="fade-up" data-move-y="200px" data-move-x="-200px">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-7 col-lg-8">
          <h1><span>Search Choice</span></h1>
          <h2>You can search by different part</h2>
        </div>
      </div>

      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="{{ url_for('todolist.search', id=current_user.id) }}" role="button">By Module Title</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="{{ url_for('todolist.search', id=current_user.id) }}" role="button">By Assessment Title</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="{{ url_for('todolist.search', id=current_user.id) }}" role="button">By Content</a></h3>
          </div>
        </div>
          <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="{{ url_for('todolist.search', id=current_user.id) }}">By Priority</a></h3>
          </div>
        </div>
    </div>
    <!-- <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
      <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a> -->
    </div>
  </section>
  <main id="main">

    <section id="about" class="about">

      <div class="container block" data-aos="fade-up" data-move-y="200px" data-move-x="-200px">
      <div class="section-title">
          <h2>Search Result</h2>
      </div>
          <table class="table table-striped">
                <tr>
                    <td>ID</td>
                    <td>Task Title</td>
                    <td>Task Content</td>
                    <td>Deadline</td>
                    <td>Category</td>
                    <td>Priority</td>
                    <td>Status</td>
                    <td>Operation</td>
                </tr>

                {% for todo in todoObj.items %}
                    <tr>
                        <td>{{ todo.id }}</td>
                        <td>{{ todo.mentTitle}}</td>
                        <td>{{ todo.task_content }}</td>
                        <td>{{ todo.task_deadline }}</td>
                        <td>
                            <a href="#" class="btn btn-success btn-xs" role="button">{{ todo.kind.name }}</a>
                        </td>
                        <td>
                            {% if todo.task_urgent == 2 %}
                                <a href="{{ url_for('todolist.urgent', id=todo.id) }}" class="btn noturgent btn-xs"
                                   role="button">Inconsequential</a>
                            {% else %}
                                <a href="{{ url_for('todolist.noturgent', id=todo.id) }}" class="btn urgent btn-xs"
                                   role="button">Urgent</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if todo.task_status %}

                                <a href="{{ url_for('todolist.hasnotdone', id=todo.id) }}" class="btn complete btn-xs"
                                   role="button">Completed</a>

                            {% else %}
                                <a href="{{ url_for('todolist.hasdone', id=todo.id) }}" class="btn uncomplete btn-xs"
                                   role="button">Uncompleted</a>
                            {% endif %}

                        </td>
                        <td>
                            <a href="{{ url_for('todolist.change', id=todo.id) }}" class="btn btn-success btn-xs change"
                               role="button">Change</a>
                            <a href="{{ url_for('todolist.search', id=todo.id) }}" class="btn btn-danger btn-xs search"
                               role="button">Search</a>
                            <a href="{{ url_for('todolist.delete', id=todo.id) }}" class="btn btn-danger btn-xs delete"
                               role="button">Delete</a>

                        </td>
                    </tr>
                {% endfor %}
            </table>
                  <br/>
            <nav aria-label="...">
                <ul class="pager">
                    {% if todoObj.has_prev %}
                        <li class="previous"><a href="{{ url_for('todolist.list_1') }}?page={{ todoObj.prev_num }}"><span
                                aria-hidden="true">&larr;</span> Previous Page</a></li>
                    {% else %}
                        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous Page</a></li>
                    {% endif %}


                    <li class="previous_1 disabled text-center"><a href="#">{{ todoObj.page }} / {{ todoObj.pages }}</a>
                    </li>

                    {% if todoObj.has_next %}
                        <li class="next"><a href="{{ url_for('todolist.list_1') }}?page={{ todoObj.next_num }}">Next Page <span
                                aria-hidden="true">&rarr;</span></a></li>
                    {% else %}
                        <li class="next disabled"><a href="#">Next Page <span aria-hidden="true">&rarr;</span></a></li>
                    {% endif %}
                </ul>
            </nav>
      </div>
    </section>
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
            <h3>To-do & Task List</h3>
            <p><strong>The time of life is short; to spend that shortness basely, it would be too long.&nbsp;————&nbsp;William Shakespeare</strong></p>
            <a class="cta-btn" href="https://www.todolist.cn">Learn More</a>
            </div>

         </div>
      </section>

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Your Comment</p>
        </div>

{#        <div>#}
{#          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>#}
{#        </div>#}

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>The SWJTU & The Leeds</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>sc202yc@leeds.ac.uk</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Phone</h4>
                <p>13655066576</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form  method="post" role="form" class="php-email-form"><!-- action="forms/contact.php" -->
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Category" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Content" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Submit</button></div>
            </form>

          </div>

        </div>
      </div>
    </section>

  </main>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3><span>To-do List</span></h3>
              <p>
                Author：Yijun Chen <br>
                Type：To-do lists and schedules<br><br>
                <strong>Phone:</strong> 13655033576<br>
                <strong>Email:</strong> sc202yc@leeds.ac.uk<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Jump to the other part</h4>
            <ul class="toggle-footer">
              <li><i class="bx bx-chevron-right"></i> <a href="#">User</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Manager</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Others</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Go To URL</h4>
            <ul class="toggle-footer">
              <li><i class="bx bx-chevron-right"></i> <a href="Content/Plot and Character.html">Register</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Content/Setting and Props.html">Login</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Content/Wallpaper and Music.html">Personal Center</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Content/Relevance and Evolution.html">Task List</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Content/Comment and Production.html">Others</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Recommendation</h4>
            <p>If you have any comments, please sign in here.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="提交">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <strong><span>See the bottom to give a praise~</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="https://minerva.leeds.ac.uk/">Eason &nbsp; 陈奕俊</a>
      </div>
    </div>
  </footer>
        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- JS 导入 --><script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="../../static/js/purecounter.js"></script>
  <script src="../../static/codebase/aos/aos.js"></script>
  <script src="../../static/codebase/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/js/glightbox.js"></script>
  <script src="../../static/js/glightbox.min.js"></script>
  <script src="../../static/js/isotope.pkgd.min.js"></script>
  <script src="../../static/codebase/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="https://unpkg.com/swiper/swiper-bundle.js"> </script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js.map"> </script> -->
  <script src="../../static/js/validate.js"></script>

  <!-- 自己的 JS -->
  <script src="../../static/js/main.js"></script>
</body>
</html>